.header{
    display: grid;
    grid-template-columns: 25% 1fr 15%;
    align-items: center;
}
    .header__brand{}
    .header__navbar{}
        .header__navbar ul{
            display: flex;
        }
        .header__navbar ul li{
            list-style: none;
            box-sizing: border-box;
            margin: 0 1rem 0 0;
        }
    .header__user{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }